@charset "UTF-8";

/* ヘッダーの色、幅の指定*/
header{
    background-color: #ffcccc;
    width: 1000px;
}

/* mainとmenuを２カラムにする*/
#wrapper{
    display: flex;
}

/* mainの色、幅の指定*/
#main{
    background-color: #ccffcc;
    width: 700px;

}

/* menuの色、幅の指定*/
#menu{
    background-color: #ccccff;
    width: 300px;
}

/* footerの色、幅の指定*/
footer{
    background-color: #ffccff;
    width: 1000px;
}
